page-streamfeed {
  .card-title {
    color: black;
    font-family: serif;
    margin-left: 5px;
  }
  .card-subtitle {
    color: black;
    font-family: serif;
    margin-left: 5px;
    padding-bottom: 3px;
  }
}
