page-firesensors {
  .temp {
    width: 30%;
    margin-left: 23%;
    float: left;
  }
  .tempVal {
    font-size: 20pt;
    color: #8c0d0d;
  }
  .tempTitle {
    padding-bottom: 8px;
    padding-top: 23px;
    text-align: center;
    font-family: Verdana, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
  }
}
